body {
  background-color: #D9C193;
}

.container {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font: bold;
  color: black;
}

#main-image {
  indent: left;
  width: 1125px;
}

#left-image {
  width: 245px;
  height: 400px;
}

#right-image {
  width:245px;
  height: 400px;
}
