
@font-face {
  font-family: 'WiegelKurrentMedium';
  font-style: normal;
  font-weight: normal;
  src: local('WiegelKurrentMedium'), url('assets\font\wiegel-kurrent\WiegelKurrentMedium.ttf') format('truetype');
}

body {
  font-size: 16px;
  background-color: #837673;
  position: relative;
}


.first-column {
  width: 280px;
  padding-right: 0px;
}

.second-column {
  background-color: white;
  height: 450px;
  width: 295px;
}

.third-column {
  background-color: #D9C193;
  height: 450px;
  width: 295px;
  text-align: center;
}

.fourth-column {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 270px;
}

h1 {
  font-family: 'WiegelKurrentMedium';
  font-style: normal;
  font-weight: normal;
  src: local('WiegelKurrentMedium'), url('assets\font\wiegel-kurrent\WiegelKurrentMedium.ttf') format('truetype');
}

h2 {
  font-family: 'WiegelKurrentMedium';
  font-style: normal;
  font-weight: normal;
  src: local('WiegelKurrentMedium'), url('assets\font\wiegel-kurrent\WiegelKurrentMedium.ttf') format('truetype');
}

hr {
    color: black;
    height: 3px;
}


.container {

}

#main-image {
  indent: left;
  width: 1125px;
}

#left-image {
  width: 100%;
  height: 450px;
  float: left;
}

#right-image {
  width: 100%;
  height: 450px;
  float: left;
}
