
@font-face {
  font-family: 'WiegelKurrentMedium';
  font-style: normal;
  font-weight: normal;
  src: local('WiegelKurrentMedium'), url('assets\font\wiegel-kurrent\WiegelKurrentMedium.ttf') format('truetype');
}
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  background-color: #D9C193;
}

@font-face {
  font-family: GraublauWeb; src: url("assets\font\wiegel-kurrent\WiegelKurrentMedium.ttf") format("opentype");
  font: bold;
  color: black;
}

.container {


}

#main-image {
  indent: left;
  width: 1125px;
}

#left-image {
  width: 245px;
  height: 400px;
}

#right-image {
  width:245px;
  height: 400px;
}
